In [1]:
# https://plotly.com/~jackp/17421/plotly-candlestick-chart-in-python/#/

import pandas_datareader.data as web
from datetime import datetime
import numpy as np
import pandas as pd
from multiprocessing import Pool
import tqdm
import gc
import Utils
import funtions

In [2]:
nasdaq = Utils.get_nasdaq_tickers()
len(nasdaq.Symbol)

5900

In [3]:
# Get today's date
t = datetime.now().strftime('%m%d%Y')

In [4]:
results = []

In [5]:
%%time

n_cpu = 4

with Pool(processes=n_cpu) as p:
    max_ = len(nasdaq.Symbol[700:800])
    with tqdm.tqdm_notebook(total=max_) as pbar: # May need to change the tqdm_notebook later
        for i, r in enumerate(p.imap(funtions.All_Min_and_Max, nasdaq.Symbol[700:800])): 
            # Default time frame from 01/02/2020 to now
            results.append(r)
            pbar.update(1)

HBox(children=(IntProgress(value=0), HTML(value='')))

CPU times: user 188 ms, sys: 375 ms, total: 562 ms
Wall time: 12.2 s

In [6]:
len(results)

100

In [7]:
results1 = [l for l in results if l != None]

results1 = pd.DataFrame(results1,
                        columns=[
                            'Symbol', 'MaxPriceDate', 'MaxPrice',
                            'MinPriceDate', 'MinPrice', 'LastDate',
                            'LastPrice', 'PrctHighToLow', 'PrctHightToCurrent'
                        ])

In [8]:
path = r'~/stock_analysis/Analyses/'
filename = "MinMaxAnalysis" + t + ".csv"
results1.to_csv(path+filename)

In [9]:
results1.head()

,Symbol,MaxPriceDate,MaxPrice,MinPriceDate,MinPrice,LastDate,LastPrice,PrctHighToLow,PrctHightToCurrent
0,BKI,2020-02-19,76.099998,2020-03-20,52.009998,2020-04-09,63.480000,-0.3166,-0.1658
1,BKK,2020-03-03,15.030000,2020-03-18,14.040000,2020-04-09,14.810000,-0.0659,-0.0146
2,BKN,2020-02-25,16.150000,2020-03-18,11.680000,2020-04-09,14.850000,-0.2768,-0.0805
3,BKNG,2020-01-10,2086.899902,2020-03-23,1152.239990,2020-04-09,1420.640015,-0.4479,-0.3193
4,BKR,2020-01-03,25.639999,2020-03-23,9.330000,2020-04-09,12.860000,-0.6361,-0.4984